* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
  justify-content: space-between;
  font-family: sans-serif;
}

main {
  height: 100%;
  max-width: 80ch;
}

p {
  hyphens: auto;
}

nav, main, footer {
  padding: 0.7rem 1rem 1rem 1rem;
}

h1 {
  padding: 0.7rem 1rem 1rem 0rem;
}

h2 {
  padding: 0.5rem 1rem 0.7rem 0rem;
}

nav {
  background-color: DarkGreen;
  color: white;
  font-weight: bold;
  display: flex;
  gap: 1rem;
}

nav a {
  color: white;
}

footer {
  background-color: DarkGreen;
  color: white;
  font-weight: bold;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
